.paper {
    width: 90%;
    height: 60%;
    padding: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.paper:focus {
    outline: none;
}

@media only screen and (max-width: 1300px) {

    .paper {
        width: 100%;
        height: 30%;
    }

}