.content {
  display: flex;
  flex-direction: row;
  height: 62vh;
  width: 92%;
  margin-left: 8%;
}

.hideContent {
  display: none;
}

.summary {
  color: white;    
  font-size: 22px;
  text-shadow: 2px 2px 4px #000000;
  max-width: 62%;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  width: 100%;
  text-align: justify;
}

.posterImage {
  max-width: 68%;
  height: auto;
  border-radius: 5px;
  box-shadow: 26px 23px 64px rgba(0, 0, 0, 1);
  margin-bottom: 35px;
}

.posterContainer {
  width: auto;
}

.productionLogo {
  width: 8%; 
  margin-left: 20px;
  margin-bottom: 40px;
}

.reviewLogoContainer {
  text-align: left;
  margin-top: 2%;
}


.productionLogoContainer {
  text-align: left;
  margin-top: 8%;
}

@media only screen and (max-width: 1300px) {

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .contentContainer {
    width: 100%;
    margin: 0px;
    align-content: justify;
  }

  .productionLogo {
    display: none;
  }

  .productionLogoContainer {
    position: inherit;
  }

  .summary {
    max-width: 100%;
  }
  
}