.content {
  display: flex;
  flex-direction: row;
}

.summary {
  color: white;    
  font-size: 28px;
  text-shadow: 2px 2px 4px #000000;
  max-width: 60%;
}

.contentContainer {
  width: 88%;
  margin: 10px;
}

.posterImage {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
  box-shadow: 26px 23px 64px rgba(0, 0, 0, 1);
}

.productionLogo {
  width: 8%; 
  margin-left: 40px;
}

.productionLogoContainer {
  width: 66%;
  text-align: left;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1300px) {

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }

  .contentContainer {
    width: 100%;
    margin: 0px;
    align-content: justify;
  }

  .productionLogo {
    display: none;
  }

  .productionLogoContainer {
    position: inherit;
  }

  .summary {
    max-width: 100%;
  }
  
}