
.topRatedTitle {
    color: white; 
    text-align: left; 
    font-size: 30px; 
    margin-top: 50px; 
    font-family: 'Teko', sans-serif;
}

.title {
    color: white; 
    text-align: left; 
    font-size: 30px;
    font-family: 'Teko', sans-serif;
}

@media only screen and (max-width: 1300px) {


    .topRatedTitle {
        color: white; 
        text-align: left; 
        font-size: 42px; 
        margin-top: 50px; 
        font-family: 'Teko', sans-serif;
    }
    
    .title {
        color: white; 
        text-align: left; 
        font-size: 42px;
        font-family: 'Teko', sans-serif;
    }

}